@import url("https://fonts.cdnfonts.com/css/lufga");

.beat-list {
  background-color: #E8D6C0;
  color: #4A3728;
  padding: 20px;
  font-family: 'Lufga', sans-serif;
}

.header,
.beat-item {
  display: grid;
  grid-template-columns: 50px 2fr 4fr 100px 100px 120px;
  align-items: center;
  padding: 10px 0;
  text-align: center;
}

.header p, .beat-item p {
  text-align: center;
}

.header {
  font-weight: 700;
  border-bottom: 1px solid #4A3728;
}

.beat-item {
  transition: background-color 0.3s ease;
}

.beat-item:hover {
  background-color: #d6c5b1;
}

.play-button,
.action-button {
  background: none;
  border: none;
  color: #4A3728;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waveform .center {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave {
  width: 4px;
  margin: 0 1px;
  height: 50%;
  background-color: #4A3728;
  transition: transform 0.1s ease;
}

.control-bar {
  width: 100vw; 
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6c5b1; 
  padding: 10px 0;
  gap: 10px;
  color: #4A3728;
  z-index: 1000;
}

.control-bar button {
  background: none;
  border: none;
  color: #4A3728;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.control-bar button:hover {
  color: #00A4E4;
}


.control-bar .control-button.liked {
  color: red; 
}

.control-bar .rating .rated {
  color: rgb(255, 255, 0); 
}

.control-bar .rating {
  display: inline-flex;
  margin-left: 10px;
}

.control-bar .rating .fa-star {
  cursor: pointer;
  margin: 0 2px;
}

.control-bar {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #d6c5b1; 
  border-radius: 8px; 
}

.control-panel {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.horizontal-controls {
  display: flex; 
  align-items: center; 
  gap: 10px;
}

.seek-slider,
.volume-slider {
  width: 100%; 
}

.volume-control {
  display: flex; 
  align-items: center;
}

.volume-button {
  margin-right: 10px; 
}

.control-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.rating {
  display: flex;
  gap: 5px; 
}
