@import url("https://fonts.cdnfonts.com/css/lufga");

.beat-list {
  background-color: #E8D6C0;
  color: #4A3728;
  padding: 20px;
  font-family: 'Lufga', sans-serif;
}

.message{
  color:  #4A3728;
}

.header,
.beat-item {
  display: grid;
  grid-template-columns: 50px 2fr 4fr 100px 100px 120px;
  align-items: center;
  padding: 10px 0;
  text-align: center;
}

.header p, .beat-item p {
  text-align: center;
}

.header p:nth-child(2), 
.beat-item p:nth-child(2) {
  text-align: left;
  padding-left: 10px;
}

.header {
  font-weight: 700;
  border-bottom: 1px solid #4A3728;
}

.beat-item {
  transition: background-color 0.3s ease;
  font-weight: 400;
  font-size: 20px;
}

.beat-item:hover {
  background-color: #d6c5b1;
}

.play-button,
.action-button {
  background: none;
  border: none;
  color: #4A3728;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.play-button:hover,
.action-button:hover {
  color: #00A4E4;
}

.header p,
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 6px;
  height: 50%;
  background: #4A3728;
  margin: 5px;
  border-radius: 20px;
  transform-origin: center;
  transition: transform 0.1s ease-out;
}

.empty-list {
  width: 99vw;
  height: 80vh; 
  font-family: 'Lufga', sans-serif;
  font-weight: 400;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

.loader {
  margin-top: 20px; 
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.catbody {
  width: 80px;
}
.tail {
  position: absolute;
  width: 17px;
  top: 50%;
  animation: tail 0.5s ease-in infinite alternate-reverse;
  transform-origin: top;
}
@keyframes tail {
  0% {
    transform: rotateZ(60deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-20deg);
  }
}
.wall {
  width: 300px;
}
.text {
  display: flex;
  flex-direction: column;
  width: 50px;
  position: absolute;
  margin: 0px 0px 100px 120px;
}
.zzz {
  color: #4A3728;
  font-weight: 700;
  font-size: 15px;
  animation: zzz 2s linear infinite;
}
.bigzzz {
  color: #4A3728;
  font-weight: 700;
  font-size: 25px;
  margin-left: 10px;
  animation: zzz 2.3s linear infinite;
}
@keyframes zzz {
  0% {
    color: transparent;
  }
  50% {
    color: #4A3728;
  }
  100% {
    color: transparent;
  }
}


@media (max-width: 600px) {
  .header, .beat-item {
    grid-template-columns: 50px 1fr 2fr auto;
    font-size: 15px;
  }

  .header p:nth-child(4), .header p:nth-child(5),
  .beat-item p:nth-child(4), .beat-item p:nth-child(5) {
    display: none;
  }

  .actions {
    justify-self: end;
  }
}
